@use "sass:map";

$main-color: #1a6afd;
$border-color: #efefef;
$font-sizes: (
        extra-small: 12px,
        small: 14px,
        base: 16px,
        medium: 18px,
        large: 20px,
        extra-large: 24px
);
$font-colors: (
        "white": #FFF,
        "black": #121212,
        base: #303133,
        sub: #5A5E66,
        light: #909399,
        extra-light: #C0C4CC,
        main: $main-color,
);
$mp-sizes: 0, 2, 4, 8, 12, 16, 20, 24, 48, 64;

:root {
  --main-color: #{$main-color};
  --sub-color: #b0aa3c;
  @each $key, $value in $font-sizes {
    --font-size-#{$key}: #{$value};
  }
  @each $key, $value in $font-colors {
    --font-color-#{$key}: #{$value};
  }
}

@font-face {
  font-family: iconfont;
  src: url('assets/icon-font/iconfont.woff2?t=1545807318834') format('woff2'),
  url('assets/icon-font/iconfont.woff?t=1545807318834') format('woff'),
  url('assets/icon-font/iconfont.ttf?t=1545807318834') format('truetype'),
  url('assets/icon-font/iconfont.svg?t=1545807318834#iconfont') format('svg');
}

* {
  box-sizing: border-box;
}

@each $key, $value in $font-sizes {
  .f-s-#{$key} {
    font-size: $value !important;
  }
}

@each $key, $value in $font-colors {
  .f-c-#{$key} {
    color: $value !important;
  }
}

.f-w-light {
  font-weight: 100 !important;
}

.f-w-bold {
  font-weight: 700 !important;
}

.circle {
  border-radius: 50%;
}

.icon-font {
  font-family: iconfont, serif !important;
  font-style: normal;
}

.icon-view {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  $sizes: 12, 16, 18, 24, 32, 48, 64, 128;
  @each $size in $sizes {
    &.s-#{$size} {
      width: #{$size}px;
      height: #{$size}px;
    }
  }
}

@each $size in $mp-sizes {
  $prefixes: (
          pd: "padding",
          mg: "margin"
  );
  @each $key, $value in $prefixes {
    .#{$key}-t-#{$size} {
      #{$value}-top: #{$size}px;
    }
    .#{$key}-b-#{$size} {
      #{$value}-bottom: #{$size}px;
    }
    .#{$key}-l-#{$size} {
      #{$value}-left: #{$size}px;
    }
    .#{$key}-r-#{$size} {
      #{$value}-right: #{$size}px;
    }
    .#{$key}-tb-#{$size} {
      #{$value}-top: #{$size}px;
      #{$value}-bottom: #{$size}px;
    }
    .#{$key}-lr-#{$size} {
      #{$value}-left: #{$size}px;
      #{$value}-right: #{$size}px;
    }
    .#{$key}-#{$size} {
      #{$value}: #{$size}px;
    }
  }
}

.center-content {
  text-align: center !important;
}

.right-content {
  text-align: right !important;
}

.nowrap {
  white-space: nowrap !important;
}

.text-overflow {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.flex-r-center {
  display: flex;
  align-items: center;
}

.flex-c-center {
  @extend .flex-r-center;

  flex-direction: column;
}

.shadow-box {
  box-shadow: 0 0 16px #727272;
}

.flex-r-st {
  @extend .flex-r-center;

  justify-content: space-between;
}

.flex-jc-center {
  justify-content: center !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', '微软雅黑', 'PingFang SC', 'Hiragino Sans GB', Arial, sans-serif;
  font-size: map.get($font-sizes, base);
  color: map.get($font-colors, base);
}

.page {
  position: relative;
  background-color: #fff;
}

.logo-bg {
  display: inline-block;
  background-image: url('assets/logo.svg');
}